<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 
<main>
<h1 style="text-align: center;font-family: cursive;">LOGGING SYSTEM</h1>
<h1 style="text-align: center;font-family: cursive;">Navigate using the navbar</h1>
</main>

<%- include("../partials/footer") %> 